body {
  margin: 0;
  font-family: 'ChicagoFLFRegular';
  background: url("media/background.png") center / cover no-repeat fixed;
}


.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 28px;
  width: 100%;
  background: rgba(220,220,220,0.9);
  display: flex;
  align-items: center;
  padding-left: 10px;
  z-index: 100;
}

.navbar a {
  margin-left: 20px;
  cursor: pointer;
}

.apple-logo {
  font-weight: bold;
}


.window {
  position: absolute;
  min-width: 460px;
  max-width: 800px;
  background: rgba(245,245,245,0.95);
  border: 2px solid #aaa;
  border-radius: 6px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.4);
  display: none;
}

.about {
  display: block;
  top: 40px;
  left: 80px;
}

#programming { top: 127px; left: 820px; }
#robotics { top: 300px; left: 320px; }
#projects { top: 350px; left: 580px; }

.window-header {
  height: 28px;
  background: #ddd;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-bottom: 1px solid #aaa;
}

.window-buttons span {
  display: inline-block;    
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 6px;
}

.windows_button :hover {
  background: #b8130a;
}

.exit { background: #ff5f57; cursor: pointer; border-radius: 42%; }
.close { background: #febc2e;  border-radius: 42%; }
.increase { background: #28c840;  border-radius: 42%; }

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.window-title {
  margin-left: 10px;
  font-size: 13px;
  font-weight: bold;
}

.window-content {
  padding: 15px;
}


.language_bar {
  position: fixed;
  bottom: 15px;
  left: 20px;
  right: 20px;
  background: rgba(160,160,160,0.45);
  backdrop-filter: blur(10px);
  border-radius: 14px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  z-index: 90;
}

.dock {
  display: flex;
  gap: 50px;
}

.img-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.img-btn img {
  width: 64px;
  transition: transform 0.2s ease;
}

.img-btn:hover img {
  transform: scale(1.25);
}


.about-section {
  margin-top: 14px;
}

.about-section h3 {
  margin: 0 0 6px 0;
  font-size: 14px;
  font-weight: bold;
}

.about-section ul {
  margin: 0;
  padding-left: 18px;
}

.about-section li {
  margin-bottom: 4px;
  font-size: 13px;
}

.window_python {
  position: absolute;
  min-width: 320px;
  background: rgba(245,245,245,0.95);
  border: 2px solid #aaa;
  border-radius: 6px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.45);
  visibility: hidden;
  opacity: 0;
  transform: translateY(12px) scale(0.9);
  transform-origin: bottom center;
  transition:
    opacity 0.25s ease,
    transform 0.25s cubic-bezier(.25,.8,.25,1);

  z-index: 200;
}

.window_python.active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0) scale(1);
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 45%;
}

.profile-photo {
  width: 150px;  
  height: 150px;   
  border-radius: 50%; 
  object-fit: cover;  
  display: block;
  margin: 0 auto;    
}